@import '../../styles/variables';

@mixin box {
  border-radius: 8px;
}
.wrapper {
  width: 600px;

  .add_comment {
    @include box;
    padding: 24px;
    background-color: #fafbfc;
  }

  .comment_list {
    @include box;
    margin-top: 4px;
    background-color: white;
  }
}
